.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #525461;
    font-family: 'Avenir Next';
}

.RegistrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
    border-radius: 16px;
    background-color: #282A37;
    color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 100px;

}

.input-field {
    width: 50%;
    display: flex;
    flex-direction: column;
}

label {
    padding-top: 16px;
}

input {
    background-color: #525461;
    border: none;
    height: 32px;
    width: 80%;
    border-radius: 4px;
}

.submit-button {
    height: 48px;
    width: 180px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 50px;
    background-color: #1C91F4;
    margin-top: 32px;
    cursor: pointer;
}

.users-title {
    text-align: center;
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    border: 1px solid lightgray;
    padding: 16px;
    margin: 16px;
}

.delete {
    color: red;
    cursor: pointer;
}
