.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Avenir Next';
}

.RegistrationForm, .Login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-radius: 16px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    width: 30%;
}

label {
    padding-top: 16px;
}

input {
    border: none;
    height: 36px;
    width: 100%;
    border-radius: 8px;
    border: 0.5px solid lightgrey;
    box-shadow: 2px 5px 5px lightgrey;
}

.submit-button {
    height: 48px;
    width: 180px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 50px;
    background-color: #FD2E55;
    margin-top: 32px;
    cursor: pointer;
}

.Users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-title {
    text-align: center;
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    border: 1px solid lightgray;
    padding: 16px;
    margin: 16px;
    width: 28vw;
}

.delete {
    color: red;
    cursor: pointer;
}

.account {
    color: red;
    padding: 16px;
}

.login-link, .register-link {
    color: red;
    cursor: pointer;
}

.ImageUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.file-input {
    padding: 8px 0 0 8px;
    height: 32px;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

.selected-file {
    width: 40%;
}

@media screen and (max-width: 1024px) {
    .input-field {
        width: 50%;
    }
}
